.shell {
	min-width: var(--layout-mobile-min-width);
	min-height: var(--size-screen);
	background: linear-gradient(
		0deg,
		var(--color-background) 0%,
		var(--color-gradient-end) 33.654%,
		var(--color-gradient-mid) 66.346%,
		var(--color-gradient-end) 100%
	);
	color: var(--color-foreground);
	overflow: hidden;
	padding-bottom: var(--layout-page-bottom);
}

.content {
	display: flex;
	height: calc(var(--layout-content-height) - var(--layout-page-bottom));
	min-height: var(--layout-content-min-height);
	flex-direction: column;
	gap: var(--space-10);
	padding: var(--space-0) var(--space-page-x);
}
